<div class="opaque-window">
  <h1>NoteJotter</h1>
  <div class="welcome-div">
    <div class="text-center">
      <h5>Oh, so you want to take some notes, huh? NoteJotter's got you covered. Start by signing in or making a new account!</h5>
    </div>
    <div class="container  mt-3">
      <div class="row sign-in-buttonset">
        <a class="btn btn-primary btn-block" href="/users/sign_in" role="button">Sign In</a>
      </div>
      
      <div class="row sign-in-buttonset">
          <a class="btn btn-link btn-block" href="/users/sign_up" role="button">New Account</a>
      </div>
    </div>
  </div>
</div>